body {
    background: linear-gradient(45deg, red, pink, white);
    background-repeat: no-repeat; 
    height: 100%; 
    transition: img 2s;
}

h1 {
    font-family: Tangerine, Verdana, sans-serif;
    text-align: center;
    font-size: 4em;
}

p {
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 10px 50px;
}

img {
    height: 240px;
    width: 240px;
    border-radius: 25px;
}

.box {
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 90%;
}
.heart {
    margin: auto;
    background-color: red;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart:after {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}

.heart:before {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}

#roscoe, #morgan {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 25px;
}

#roscoe > div, #morgan > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 240px;
    height: 240px;
}